html{
	background-color: #F9F4EC;
	color: #FFF;
}
.container{
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	width: 95%;
	font-family: sans-serif;
	background-color: #A4D09F;
}
.banner{
	display: inline-block center;
	padding: 5% 10% 0% 10%;
	width:80%;
	font-size: 1.2em;
}
.goal{
	float: left;
	margin: 0% 1% 0% 5%;
	padding: 4% 2% 4% 2%;
	width: 70%;
	background-color: #A6C8A3;
	border-radius: 3px;
	text-align: center;
}
#total-minutes{
	display: inline-block;
	padding: 4% 5% 4% 5%;
	background-color: #5B5852;
	color: #D4B98C;
	border-radius: 3px;
}
.panel{
	display: inline-block center;
	padding: 0% 5% 5% 15%;
	width:80%;
}
.day{
	display: inline-block;
	width: 12%;
	text-align: center;
}
.weekday{
	border: 1px solid #95BA91;
	border-radius: 3px;
}
.weekday .minute-counter{
	display: inline-block;
	margin: 10% 5% 10% 5%;
	padding: 5% 15% 5% 15%;
	border: 1px solid #95BA91;
	border-radius: 3px;
	background-color: #A6C8A3;
}
#name-of-day{
	display: inline-block center;
	font-size: 1.3em;
}
@media screen and (max-width: 750px) {
	.goal{
		display: inline;
	}
	#total-minutes{
		display: inline-block;
		position: fixed;
	}
	.panel{
		display: inline-block;
		padding: 0 0 0 30%;
		width: 40%
	}
	.day{
		display: inline;
	}
}